@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/poppins';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1F274B;
}

::-webkit-scrollbar-thumb {
  background: #524F8F;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF9913;
}